h1{color:black;}


.FLAG{ 
    
    border:double,black,2px ;
    height: 400px; 
    width: 500px; 
}

#a{background-color:red ;
    height: 133px; 
    width: 500px;
    
    }

    #b{background-color :white ;
        height: 133px; 
        width: 500px;
        
        }

        #c{background-color:black ;
            height: 133px; 
            width: 500px;    
            }


/* flag of indonasia  */
.flag {
   
    border: 1px solid black;
    width: 550px;height:400px ;
    position: relative;
    margin-left: 150px;
}


#x{
    background-color:white ;
    height: 200px;
    width: 550px; 
}
#w{background-color:red ;
    height:200px;
    width: 550px; }

/* flag of kashmir */





    #p{border:double,2px,black ;
        height: 400px; 
        width: 550px; 
        background-color:green ;
        position: relative;
        margin-left: 150px;
    }

    #q{
height: 175px; 
width:275px ;
background-color:yellow ;

    }

    #r{
background-color:white ;
height: 25px; 
width: 550px; 
position: absolute; margin-top: 25px;

    }
    #s{
        background-color:white ;
        height: 25px; 
        width: 550px; 
        position: absolute; margin-top: 75px;}
        
        #t{
            background-color:white ;
            height: 25px; 
            width: 550px; 
            position: absolute; margin-top: 125px;}
             
            #u{
                background-color:white ;
                height: 25px; 
                width: 550px; 
                position: absolute; margin-top: 175px;}

                #project{
                    display:inline-block ;
                }
.inline {
    display: flex;
}
#z {
    display: flex;
}
.mn{
    position: relative;
    margin-left:120px ;
    margin-top: 40px;
    height: 70px;
    width: 60px;
    color: white;
}
.st{
    position: absolute;
    margin-top: 45px;
    margin-right:90px; 
    height: 40px;
    width: 30px;
    color: white;
}

#space{
    display: flex;
}
#ha{
  position: relative;
  margin-left: 100px;
}
#hb{
    position: relative;
    margin-left: 350px;
  }
  #hc{
    position: relative;
    margin-left: 450px;
  }